= simple_form_for @tweet do |f|
  - if @tweet.errors.any?
    #errors
      %p
        = @tweet.errors.count
        prevent this tweet from saving
      %ul
        - @tweet.errors.full_messages.each do |msg|
          %li= msg

  = f.input :title, input_html: { class: "form-control" }
  %br
  = f.input :body, input_html: { class: "form-control" }
  %br
  = link_to "Back", root_path, class: "btn btn-default"
  = f.button :submit, class: "btn btn-primary"
